<!-- 
<div class="container mx-auto" style="width: 500px">
  <div class="row">
    <div class="col">
      <div *ngFor="let obj of empleados; let i = index; let odd = odd">
        <span [class.odd]="odd">
          Empleado:{{ i + 1 }}: {{ obj.nombre }} {{ obj.apellido }}
          {{ obj.cargo }} {{ obj.salario }}</span
        >
      </div>
    </div>
  </div>
</div>


 -->

<div class="container mx-auto" style="width: 500px">
  <div class="row">
    <div class="col">
      <div>
        <span [class.odd]="odd">
          Empleado:{{ indice + 1 }}: {{ empleadodeLista.nombre }}
          {{ empleadodeLista.apellido }} {{ empleadodeLista.cargo }}
          {{ empleadodeLista.salario }}</span
        >
        <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}">
          Actualiza
       </a> 
       &nbsp;
       <a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'0'}">
        Elimina
     </a> 
      </div>
<!-- output -->
     <app-caracteristicas-empleados-c (nombre)="addNombre($event)"  (caracteristicasEmpleados)="addCaracteristica($event)"></app-caracteristicas-empleados-c>
     <ul style="list-style: none;">
     <li *ngFor="let item of caracteristicas">{{item}}</li>
      </ul>
    </div>
  </div>
</div>


