<!-- 
<div class="container mx-auto" style="width: 500px">
  <div class="row">
    <div class="col">
      <div *ngFor="let obj of empleados; let i = index; let odd = odd">
        <span [class.odd]="odd">
          Empleado:{{ i + 1 }}: {{ obj.nombre }} {{ obj.apellido }}
          {{ obj.cargo }} {{ obj.salario }}</span
        >
      </div>
    </div>
  </div>
</div>


 -->

<div class="container mx-auto" style="width: 500px">
  <div class="row">
    <div class="col">
      <div>
        <span [class.odd]="odd">
          Empleado:{{ indice + 1 }}: {{ empleadodeLista.nombre }}
          {{ empleadodeLista.apellido }} {{ empleadodeLista.cargo }}
          {{ empleadodeLista.salario }}</span
        >
      </div>
    </div>
  </div>
</div>
