<h2 style="text-align: center">{{ titulo }}</h2>
<div class="mx-auto" style="width: 200px">
  <form>
    <label for="nom">Nombre:</label>
    <input
      [(ngModel)]="usuario.nombre"
      type="text"
      id="nom"
      name="nombre"
    /><br />
    <label for="ape">Apellido</label>
    <input
      [(ngModel)]="usuario.apellido"
      type="text"
      id="ape"
      name="apellido"
    /><br />
    <label for="ape">Cargo</label>
    <input
      [(ngModel)]="usuario.cargo"
      type="text"
      id="ape"
      name="Cargo"
    /><br />
    <input
      (click)="registrado = true"
      type="submit"
      class="btn btn-warning mt-1"
      value="Registrar"
    />
  </form>

  <!-- NgIf y su Else -->
  <p *ngIf="registrado; else sinRegistrar">
    Usuario: {{ usuario.nombre }} {{ usuario.apellido }} y con el cargo de
    <span
      [ngStyle]="{
        color: usuario.cargo == 'Director' ? 'red' : 'black',
        'font-weight': usuario.cargo == 'Director' ? 'bold' : '300'
      }"
      [ngClass]="{ directores: usuario.cargo == 'Director' }"
    >
      {{ usuario.cargo }}
    </span>

    Registrado con Exito!
  </p>

  <ng-template #sinRegistrar>
    <p>Te invitamos a registrarte</p>
  </ng-template>
  <br /><br />
  <h3 style="text-align: center">ngFor</h3>
  <ul>
    <li *ngFor="let obj of entradas; let i = index">
      {{ i + 1 }}-
      <span style="font-size: larger; font-weight: bold">
        {{ obj.titulo }}</span
      >
    </li>
  </ul>
</div>

<h2 style="text-align: center">Practica</h2>
<h3 style="text-align: center">{{ tituloPractica }}</h3>

<div class="container mx-auto" style="width: 700px">
  <form class="form-group row">
    <div class="form-group col-3">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        placeholder="Nombre"
        class="form-control"
        [(ngModel)]="formNombre"
      />
    </div>
    <div class="form-group col-3">
      <label for="apelli">Apellido:</label>
      <input
        type="text"
        id="apelli"
        name="apelli"
        placeholder="Apellido"
        class="form-control"
        [(ngModel)]="formApellido"
      />
    </div>
    <div class="form-group col-3">
      <label for="carg">Cargo:</label>
      <input
        type="text"
        id="carg"
        name="carg"
        placeholder="Cargo"
        class="form-control"
        [(ngModel)]="formCargo"
      />
    </div>
    <div class="form-group col-3">
      <label for="sal">Salario:</label>
      <input
        type="number"
        id="sal"
        name="sal"
        placeholder="Salario"
        class="form-control"
        [(ngModel)]="formSalario"
      />
    </div>
    <div class="d-flex justify-content-center">
      <input
        type="submit"
        class="btn btn-success col-4 mt-1"
        value="Registrar"
        (click)="agregarEmpleado()"
      />
    </div>
  </form>
</div>
<!-- <small>Primera forma</small>
<app-hijo-directiva [empleados]="empleados"></app-hijo-directiva> -->
<small>Segunda forma</small>

<app-hijo-directiva
  *ngFor="let obj of empleados; let i = index; let odd = odd"
  [empleadodeLista]="obj"
  [indice]="i"
  [odd]="odd" (propiedad)="addItem($event)"
></app-hijo-directiva>  


<!--  -->
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
